body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    box-sizing: border-box;

}

.cell {
    background-color: aquamarine;
    box-sizing: border-box;
    width: 6.25%;
    height: 6.25%;


}