body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.cell {
    flex-basis: 6.25%;
    padding-bottom: 6.25%;
    display: inline-block;
    background-color: #b3dce1;
}